In [32]:
import pandas as pd
from datetime import datetime

In [33]:
df = pd.read_excel('ventas_tienda2.xlsx')

In [34]:
df['Cliente'] = df['Cliente'].fillna('Consumidor Final')

In [35]:
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')

In [37]:
df.head(10)

,Fecha,Categoria,Unidades Vendidas,Precio,Cliente,Ingreso Total
0,2025-09-02,Electronica,2,15,Cliente A,NaN
1,2025-08-31,Ropa,5,20,Consumidor Final,NaN
2,2025-08-29,Hogar,1,10,Cliente B,NaN
3,2025-09-01,Electronica,2,25,Consumidor Final,NaN
4,2025-09-03,Ropa,10,5,Cliente C,NaN

In [41]:
df['Ingreso Total'] = df['Unidades Vendidas'] * df['Precio']

In [42]:
df.head(10)

,Fecha,Categoria,Unidades Vendidas,Precio,Cliente,Ingreso Total
0,2025-09-02,Electronica,2,15,Cliente A,30
1,2025-08-31,Ropa,5,20,Consumidor Final,100
2,2025-08-29,Hogar,1,10,Cliente B,10
3,2025-09-01,Electronica,2,25,Consumidor Final,50
4,2025-09-03,Ropa,10,5,Cliente C,50